@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
 :root {
    --backgroundColor: #F5F3EF;
    --headerColor: #00AC66;
    --secondaryColor : #FAF9F7;
    --hoverColor : #006D41;
}

body {
    background-color: var(--backgroundColor);
    width: 100%;
}

.disable {
    display: none;
}

/** HEADER **/
header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.main-nav {
    width: 1440px;
    display: flex;
}

.logo {
    margin-left: 150px;
    margin-top: 15px;
}

nav{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 31px;
    width: 100%;
    display: flex;
}

.messagerie-notification{
    display: flex;
}

.second-navbar span {
    background-color: black;
    color: white;
    margin-left: 3px;
    display: flex;
    width: 10.5px;
    height: 15px;
    padding-top:3px ;
    border-radius: 6.75px;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 8.25px;
}

.nav_icon {
    height: 13px;
    margin-right: 4px;
}

a {
    text-decoration: none;
    color: #292929;
}


.first-navbar{
    margin-left: 78px;
    width: 450px;
    border-right: 1px solid rgba(166, 166, 166, 0.2);
    
}

.second-navbar{
    margin-left: 58px;
    width: 398px;
    display: flex;
    justify-content: space-between;
}

.first-navbar-a{
    padding-left: 44px;
}

.active {
    font-weight: bold;
}

.count-message{
    color: white;
    background-color: #292929;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 8.25px;
    font-weight: 700;
}
/**      HOME    **/

/** SECTION JOIN **/
.join {
    width: 100%;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-container{
    width: 838px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join-text {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

.join-container img {
    width: 404px;
    height: 539px;
}

.join-text h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
    width: 329px;
}

h2 + p {
    width: 328px;
    height: 95px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px; 
}

.join-text button {
    background-color: var(--headerColor);
    width: 152px;
    padding: 22px 38px 22px 38px;
    gap: 10px;
    height: 63px;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 35px;
}
.join-text button:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

/** SECTION LAST-ADD **/

.last-add {
    width: 100%;
    height: 702px;
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 914px;
    align-items: center;
}

.last-add-container h3 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 80px;
}

.book-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px 38px;
}

.card img {
    width: 200px;
    height: 200px;
}

.card {
    width: 200px;
    height: 324px;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.card h4{
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 20px;
}

.card div > p:first-of-type {
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    margin-left: 8px;
    color: #A6A6A6;
}

.card div > p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 400;
    margin-left: 8px;
    padding-top: 23px;
    color: #A6A6A6;
}

.button-last-add {
    background-color: var(--headerColor);
    width: 238px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

.button-last-add:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

/** SECTION ABOUT **/

.about {
    width: 100%;
    height: 1527px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    width: 321px;
    margin-top: 80px;
}

.about > p:first-of-type{
    width: 397px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 23px;
    margin-bottom: 37px;
}

.about-card{
    width: 968px;
    display: flex;
    gap: 0px 36px;
}

.about-card p{
    width: 215px;
    height: 139px;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about > img:first-of-type{
    width: 1440px;
    height: 230px;
    margin-top: 80px;
}

.about button {
    background-color: var(--backgroundColor);
    width: 238px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    color: var(--headerColor);
    border-radius: 10px;
    border: var(--headerColor) 1px solid;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

.about button:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
    color: white;
}

.about-value {
    width: 442px;
    margin-top: 80px;
}

.about-value h4{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
}

.about-value h4 + div{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 392px;
    margin-top: 39px;
}

.about-value > div:last-of-type{
    display: flex;
    justify-content: space-between;
    color: #A6A6A6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    margin-top: 39px;
}

/**      FOOTER       **/

footer{
    display: flex;
    background-color: #FFFFFF;
    justify-content: flex-end;
    height: 61px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    
}
footer a{
    margin-top: 23px;
    margin-right: 40px;
}

footer img{
    height: 17.36px;
    width: 22px;
    margin-top: 21px;
    margin-right: 40px;
}

/** SECTION EXCHANGE **/

.exchange-page{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.exchange-header{
    display: flex;
    margin-top: 130px;
    width: 914px;
    justify-content: space-between;
}

.exchange-header h2{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400; 
}

.exchange-search{
    display: flex;
}

.search-logo {
    border-radius: 10px 0px 0px 10px;
    width: 40px;
    height: 50px;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-right: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 17px;
}

input[type=search] {
    height: 50px;
    width: 282px;
    border-radius: 0px 10px 10px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #F0F0F0;
    border-left: none;
}

.exchange-card{
    width: 914px;
    display: flex;
    margin-top: 72px;
    flex-wrap: wrap;
    gap: 48px 38px;
}

/** CONNEXION **/
label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
}

.connexion-page-section h2 {
    margin-top: 130px;
    margin-left: 150px;
    margin-left: 150px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
}

.connexion-page-section form {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 56px;
}

.form-link {
    text-decoration: underline;
}

input.input-form{
    margin-bottom: 32px;
    width: 322px;
}

input[type=text], input[type=password]{
    height: 50px;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
}

input[type=submit] {
    border-radius: 10px;
    padding: 22px, 38px, 22px, 38px;
    gap: 10px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
}

.connexion-page{
    display: flex;
    width: 100%;
    justify-content: center;
}

.connexion-page-section  {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

.connexion-page-section > article:last-of-type {
    width: 720px;
    height: 886px;
}

.submit-form-connection{
    height: 63px;
    background-color: var(--headerColor);
    color: #f0f0f0;
    border: none;    

}

/** SHOWBOOK **/

.showbook-page{
    margin-top : 44px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.showbook-container{
    background-color: var(--secondaryColor);
    width: 1440px;
    display: flex;
    align-items: center;
}

.showbook-img {
    width: 720px;
    height: 863px;
}

.showbook-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    width: 485px;
}

.showbook-title{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400; 
}

.showbook-author{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    color: #A6A6A6;
    margin-top: 16px;
}

.showbook-line{
    height: 23px;
    width: 27px;
    border-bottom: #A6A6A6 1px solid;
    margin-bottom: 32.5px;
}

.showbook-h5 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 8px;
}

.showbook-description{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 32px;
    height: 289px;
}

.showbook-user {
    width: 157px;
    height: 60px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 50px;
}

.showbook-user-picture{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

.showbook-button{
    background-color: var(--headerColor);
    width: 485px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    gap: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 80px;
}

.showbook-button:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

/** DASHBOARD **/

.dashboard {
    background-color: var(--secondaryColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-container{
    width: 1440px;
}

.dashboard-container h2{
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 400;
    margin-top: 90px;
    margin-left: 150px;
}

.dashboard-first-section{
    display: flex;
    justify-content: space-between;
    width: 1135px;
    margin-top: 48px;
    margin-left: 150px;
}

.dasboard-user{
    width: 547px;
    height: 508px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
}

.dasboard-user > img {
    margin-top: 48px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

.dasboard-user a{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 4px;
    text-decoration: underline;
    margin-bottom: 48px;
}

hr{
    width: 242px;
    border-top: 0px solid var(--backgroundColor);
    margin-bottom: 48px;
}

.dasboard-user h4{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400; 
}

.dasboard-user > p:nth-of-type(2){
    font-family: "Inter";
    font-weight: 600;
    font-size: 8px;
    margin-top: 21px;
} 

.dasboard-book-count {
    display: flex;
    margin-top : 6px;
    gap: 6px;
}

.dasboard-user > p:nth-of-type(1){
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 11px;
}

.dasboard-info{
    width: 547px;
    height: 508px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    gap: 22px 0px;
    margin-bottom: 32px;
}

.dasboard-info h4{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    margin-left: 117px;
    margin-top: 36px;
}

.dasboard-info form {
    display: flex;
    flex-direction: column;
    margin-left: 117px;
}



.input-form-dashboard {
    margin-bottom: 32px;
    background-color: #EDF2f6;
    margin-top: 10px;
    width: 322px;
    padding-left: 10px;
}

input[type=submit].button-info-save {
    background-color: var(--backgroundColor);
    width: 150px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    color: var(--headerColor);
    border-radius: 10px;
    border: var(--headerColor) 1px solid;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

input[type=submit].button-info-save:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
    color: white;
}

.dashboard-second-section {
    width: 1140px;
    border-radius: 1px;
    display: flex;
    margin-left: 150px;
}

article table {
    border-collapse: collapse;
    width: 1135px;
    border-radius: 30px;
}

table tr{
    background-color: #EDF2f6;
    border-radius: 20px;
}

table tr:first-child{
    border-bottom: var(--backgroundColor) 1px solid;
}

table tr:nth-child(even){
    background-color: #FFFFFF;
}

table th {
    height: 53px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 8px;
    text-align: left;
    background-color: #FFFFFF;
    vertical-align: bottom;
    padding-bottom: 10px;
}

table th:first-child {
    border-radius: 20px 0px 0px 0px;
}

table th:last-child {
    border-radius: 0px 20px 0px 0px;
}

table tr:last-child td:first-child {
    border-radius: 0px 0px 0px 20px;
}

table tr:last-child td:last-child {
    border-radius: 0px 0px 20px 0px;
}

table td {
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    height: 130px;
}

th:nth-child(1){
    padding-left: 66px;
}

td:nth-child(1){
    width: 224px;
    padding-left: 66px;
}

td:nth-child(1) img{
    width: 78px;
    height: 78px;
}


td:nth-child(2) {
    width: 181px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-title{
    width: 170px;
    display: flex;
}

td:nth-child(3) {
    width: 175px;
}

td:nth-child(4) {
    width: 213px;
}

td:nth-child(5){
    font-family: "Inter";
    font-weight: 500;
    font-size: 8.88px;
    color: #FFFFFF;
    width: 146px;
}

.statut{
    display: flex;
    width: 72px;
    height: 18.5px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.statut-on{
    background-color: #6DC5A1;
}
.statut-off {
    background-color: #C56D6D;
}

td div{
    width: 128px;
    font-style: italic;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

td:nth-child(7) a{
    text-decoration: underline;
    color: #CB2D2D;
}

td a{
    text-decoration: underline;
}

/** MESSAGE **/

.message-page {
    width: 100%;
    height: 893px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-page-container{
    width: 1440px;
    display: flex;

}

.message-info-section {
    width: 308px;
    height: 893px;
    margin-left: 150px;
    background-color: #FAF9F7;
}

.message-info-section a > div{
    width: 308px;
    height: 84px;
    display: flex;
}

.user-picture{
    margin-left: 34px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.message-user-card{
    width: 172px;
    margin-left: 12px;
}

.message-user-card > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
}

.message-user-card h3{
    font-weight: normal;
}

.message-user-card > p:last-of-type {
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    color: #A6A6A6;
    display: inline-block;
    white-space: normal;
    max-width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message-text-section{
    width: 982px;
}

.message-info-section h2{
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 400; 
    margin-top: 55px;
    margin-left: 34px;
    margin-bottom: 27px;
}

.core-message img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.message-text-section article{
    margin-left: 42px;
    height: 712px;
    display: flex;
    align-items: flex-end;
}

.core-message{
    display: flex;
    flex-direction: column;
}

.core-message > div{
    display: flex;
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    color: #A6A6A6;
    align-items: center;
    gap: 6px;
}

.core-message-text{
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    max-width: 500px;
    background-color: white;
    display: inline-block; 
    border-radius: 3px;
    margin-bottom: 25px;
    padding: 10px; 
    word-wrap: break-word;
    white-space: normal;
}

.message-sent {
    align-self: flex-end;
}

.message-sent-text {
    align-self: flex-end;
    background-color: #EDF2f6;
}

.message-received {
    align-self: flex-start;
}

.message-sent-picture {
    display: none;
}

.message-user-sent{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 35px;
}

.input-form-message{
    width: 628px;
    height: 49px;
    padding-left: 42px;
}

.submit-form-message{
    width: 132px;
    height: 49px;
}

/** USER PAGE**/

.userpage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.userpage-container{
    width: 1440px;
    display: flex;
    height: 870px;
    align-items: center;
}

.userpage-info{
    width: 341px;
    height: 579px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    margin-right: 28px;
}

.userpage-info > img {
    margin-top: 48px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-bottom: 70px;
}

.userpage-info h4{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400; 
}

.userpage-info > p:nth-of-type(2){
    font-family: "Inter";
    font-weight: 600;
    font-size: 8px;
    margin-top: 21px;
} 

.userpage-book-count {
    display: flex;
    margin-top : 6px;
    gap: 6px;
}

.userpage-info > p:nth-of-type(1){
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 11px;
}

.userpage-button {
    background-color: var(--backgroundColor);
    width: 215px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    gap: 10px;
    color: var(--headerColor);
    border-radius: 10px;
    border: 1px solid var(--headerColor);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 45px;
}

.userpage-button:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
    color: var(--backgroundColor);
}

/** UPDATE BOOK**/

.update-book-page{
    width: 100%;
    display: flex;
    background-color: var(--secondaryColor);
    justify-content: center;
}

.update-book-container
{
    width: 1440x;
    display: flex;
    flex-direction: column;
}

.update-book-container form {
    display: flex;
    flex-direction: row;
    width: 1141px;
    height: 941px;
    margin-top: 23px;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.update-first-section img{
    width: 488px;
    height: 488px;
}

.update-first-section
{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.update-second-section
{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.update-book-container p{
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
}

.update-book-container h2{
    margin-top: 23px;
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 400; 
}

.input-form-update {
    margin-bottom: 32px;
    background-color: #EDF2f6;
    margin-top: 10px;
    padding-left: 14px;

}

.update-first-section a{
    text-decoration: underline;
    padding-left: 390px;
    margin-top: 23px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.input-update{
    background-color: var(--headerColor);
    width: 322px;
    padding: 22px 38px 22px 38px;
    height: 63px;
    gap: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}


textarea{
    width: 435px;
    height: 356px;
    background-color: #EDF2f6;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 32px;
    padding: 14px 14px 14px 14px;
}

select{
    margin-bottom: 32px;
    background-color: #EDF2f6;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
    width: 435px;
    height: 50px;
    padding: 14px 14px 14px 14px;
}

input[value]{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
}